include ../shared/nav-link

- const activeNavigationIndex = 0;

header.pt-5.fixed.top-0.w-screen.z-10
    div.container.flex.justify-between.mx-auto.px-5.items-center.gap-2.flex-wrap
        a(href= paths.index) Логотип
        nav
            ul.flex.flex-wrap.justify-between.items-center.gap-2
                each item,idx in navigation
                    li
                        +nav-link(item.title, item.href, (activeNavigationIndex === idx))
        div.flex.flex-col.items-center
            a(href="tel:+79991234567").mb-2.text-nowrap +7 (999) 123-45-67
            button(type="button").px-4.py-2 Заказать звонок