extends ../extends/layout

block content
    include ../sections/common/header

    main
      include ../sections/index/promo
      include ../sections/index/services


    script(src="src/pages/index.ts" type="module")