.posters-slider
    div.swiper
        div.swiper-wrapper
            div.swiper-slide Slide 1
            div.swiper-slide Slide 2
            div.swiper-slide Slide 3
            div.swiper-slide Slide 4
            div.swiper-slide Slide 5