-
    const paths = {
        index: "/",
        faq: "/faq",
        about: "/about",
        works: "/works",
        reviews: "/reviews",
        contacts: "/contacts",
        services: "/services"
    }

    const navigation = [
      {title: "Главная", href: paths.index},
      {title: "О компании", href: paths.about},
      {title: "Услуги", href: paths.services},
      {title: "Работы", href: paths.works},
      {title: "Отзывы", href: paths.reviews},
      {title: "FAQ", href: paths.faq},
      {title: "Контакты", href: paths.contacts},
    ]


