-
  const paths = {
    index: "/",
    faq: "/faq",
    about: "/about",
    works: "/works",
    reviews: "/reviews",
    contacts: "/contacts",
    services: "/services"
  }

  const navigation = [
    {title: "Главная", href: paths.index},
    {title: "О компании", href: paths.about},
    {title: "Услуги", href: paths.services},
    {title: "Работы", href: paths.works},
    {title: "Отзывы", href: paths.reviews},
    {title: "FAQ", href: paths.faq},
    {title: "Контакты", href: paths.contacts},
  ]

  const promo_slides = [
    {
      title: "Заголовок слайда 1",
      description: "Lorem ipsum dolor sit amet consectetur. Senectus tincidunt quis gravida orci leo nec pretium et eleifend. Faucibus hendrerit dignissim neque etiam at imperdiet consectetur. Nisl neque congue phasellus ipsum facilisi purus commodo tellus at. Eget rhoncus mauris aliquam urna urna suscipit morbi."
    },
    {
      title: "Заголовок слайда 2",
      description: "Lorem ipsum dolor sit amet consectetur. Senectus tincidunt quis gravida orci leo nec pretium et eleifend. Faucibus hendrerit dignissim neque etiam at imperdiet consectetur. Nisl neque congue phasellus ipsum facilisi purus commodo tellus at. Eget rhoncus mauris aliquam urna urna suscipit morbi."
    },
    {
      title: "Заголовок слайда 3",
      description: "Lorem ipsum dolor sit amet consectetur. Senectus tincidunt quis gravida orci leo nec pretium et eleifend. Faucibus hendrerit dignissim neque etiam at imperdiet consectetur. Nisl neque congue phasellus ipsum facilisi purus commodo tellus at. Eget rhoncus mauris aliquam urna urna suscipit morbi."
    }
  ]


